# Packages
node_modules/
package-lock.json
yarn.lock

# Log files
.DS_Store
logs/
*.log

# Miscellaneous
.vscode/
axoncore.code-workspace
example/
_images/

# NPM ignore

.eslintrc.json
.gitattributes
.gitignore
.travis.yml
.github/
.git/
test/
tsconfig.json
tslint.json
CONTRIBUTING.md
CODE_OF_CONDUCT.md

# Optional npm cache directory
.npm
.yarn

# Optional eslint cache
.eslintcache
