
.app-name {
  width: 50%
}

#ToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    height: 10%;
    border:none;
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
} 
